<!DOCTYPE html>
<html>
<head>
	<title>
		Skrollr.Js Example
	</title>
	<meta charset="utf-8">
    <meta content="initial-scale=1, minimum-scale=1, width=device-width, user-scalable=0" name=
    "viewport">
    <meta content=
    "Skrollr.js is a cool way to simulate 3D animations, transitions, and effects."
    name="description">
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Lobster|Montserrat|Oswald' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
        <script src='javascripts/html5shiv.min.js'></script>
        <script src='javascripts/respond.min.js'></script>
    <![endif]-->
</head>

<body>
    <!-- Navigation 
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Skrollr.js</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Something</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Something</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Something</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->
  
<!-- main container, will hold all 6 slides -->
<div id="slides-container">      
	<div id="slides"
		    data-0="transform:translate(0%,0%);"
		    data-50p=""
		    data-100p=""
		    data-200p="transform:translate(0%,-50%);"
		    data-250p=""
		    data-350p="transform:translate(-50%,-50%);"
		    data-400p=""
		    data-500p="transform:translate(-50%,0%);">
        <div id="slide-1" class="slide">
        	<div class="caption-main"
        	    data-10p="opacity: 0; transform:translate(0px,0px);"
			    data-40p="opacity: 1; transform:translate(0px,0px);"
			    data-80p="opacity: 0; transform:translate(0px,-100%);"
			    data-anchor-target="#slide-1">
			  <div class="intro">  
			    <div class="container">
			      <div class="welcome-text">
			        <h1>Skrollr.js</h1>
			      </div>  
			      <div class="row text-center">
			        <div class="col-md-12">
					    <h3>A simple site for <a href="https://github.com/Prinzhorn/skrollr" target="_blank">Skrollr.js</a>. 
					    All Images are courtesy of Pixden, Unsplash, and Google. 
					    </h3>
					</div>
					</div>
				</div>	
			  </div>	    
            </div>

        </div>
        <div id="slide-2" class="slide div-head wow">
            <div class="caption"
             data-150p="opacity: 0; transform:translate(0px,0px);"
             data-200p="opacity: 0; transform:translate(0px,0px);"
             data-250p="opacity: 0; transform:translate(0px,0px);"
             data-anchor-target="#slide-2">
            </div>
            <div class="container">
            <!--
            	<div class="row text-center">
					<div class="col-md-12">
						<div class="section-head wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">
							<h1>Features</h1>
							<p>You can show your app features</p>
							<span class="underline"></span>
						</div>
					</div>  
				</div>-->

            	  <div class="col-md-4" data-top-bottom="opacity:0; transform:translate(0px,0px);"
            	    data-210p="opacity:1;transform:translate(0px,0px);">
            	        <div class="services-info-text">
				         <span class="fa-stack fa-3x">
				                <i class="fa fa-circle fa-stack-2x text-primary"></i>
				                <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
				         </span>
				          <h2 class="services-heading">Project Management 1</h2>
				          <p class="services-text">Every sale will be supervised by one of our highly experienced website developers.</p>
                        </div>

                         <div class="services-info-text">
				         <span class="fa-stack fa-3x">
				                <i class="fa fa-circle fa-stack-2x text-primary"></i>
				                <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
				         </span>
				          <h2 class="services-heading">Project Management 2</h2>
				          <p class="services-text">Every sale will be supervised by one of our highly experienced website developers.</p>
                        </div>
                      </div>  


	            	  <div class="col-md-4">
	            		<figure class="image-features wow bounceIn animated animated" data-wow-offset="120" data-wow-duration="1.5s">
						  <img src="images/iphone5_white.png" alt="iphone">
					    </figure>
	            	  </div>

            	  <div class="col-md-4" data-top-bottom="opacity:0; transform:translate(0px,0px);"
            	      data-210p="opacity:1; transform:translate(0px,0px);"> 
            	     <div class="services-info-text" style="padding-top:15px;">
				         <span class="fa-stack fa-3x">
				                <i class="fa fa-circle fa-stack-2x text-primary"></i>
				                <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
				         </span>
				          <h2 class="services-heading">Project Management 1</h2>
				          <p class="services-text">Every sale will be supervised by one of our highly experienced website developers.</p>
                        </div>
                         <div class="services-info-text">
				         <span class="fa-stack fa-3x">
				                <i class="fa fa-circle fa-stack-2x text-primary"></i>
				                <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
				         </span>
				          <h2 class="services-heading">Project Management 2</h2>
				          <p class="services-text">Every sale will be supervised by one of our highly experienced website developers.</p>
                        </div>  
            	  </div>

            </div>
        </div>
        <div id="slide-3" class="slide">
        	<div class="caption"
			    data-250p="opacity: 0; transform:translate(300px,0px);"
			    data-300p="opacity: 1; transform:translate(0px,0px);"
			    data-anchor-target="#slide-3">
			    <div class="container">
			      <div class="row">
			        <div class="col-md-4">
			        	<h1 style="float:left;padding:5px;">Some Type of Title</h1>
			        	<br/>
			        	<p>
			        		What's amazing is, if young people understood how doing well in school makes the rest of their life so much interesting, they would be more motivated. It's so far away in time that they can't appreciate what it means for their whole life. They would be more motivated. It's so far away in time.
			        	</p>
			        </div>
			        <div class="col-md-8">
			          <img src="../images/iphone5_two.png">
			        </div>
			      </div>    
            </div>
          </div>
        </div>
        <div id="slide-4" class="slide">
        	<div class="caption"
			    data-430p="opacity: 0;"
			    data-450p="opacity: 1;"
			    data-anchor-target="#slide-4">
			    <div class="container">
			      <div class="row">
			        <div class="col-md-6">
				    	<img src="../images/iphones_skew.png">
				    </div> 
			        <div class="col-md-6">
				        <h1>Another Type of Title and Such</h1>
				        	<p>
				        		What's amazing is, if young people understood how doing well in school makes the rest of their life so much interesting, they would be more motivated. It's so far away in time that they can't appreciate what it means for their whole life. They would be more motivated. It's so far away in time.
				        	</p>
				    </div> 
				</div>      	
            </div>
        </div>
        <!--<div id="slide-5" class="slide"></div>
        <div id="slide-6" class="slide"></div>-->
    </div>
</div>

 


<script src="javascripts/skrollr.min.js"></script>
<script type="text/javascript">
    var s = skrollr.init();
</script>	

</body>
</html>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="javascripts/main.js"></script>